@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
	font-family: 'Press Start 2P', sans-serif;
	text-align: center;
}

h2 {
	margin-top: 3rem;
}

canvas {
	width: 50%;
	background-color: lightgray;
}

small {
  display: block;
  margin-top: 0.5rem;
  font-family: sans-serif;
}

@media screen and (max-width: 1040px) {
  canvas {
    width: 80%;
  }
}
@media screen and (max-width:630px){
  h2 {
    font-size: 1.3rem;
  }
  canvas {
    width: 95%;
  }
}
